.main {
  box-shadow: 4px 5px 6px rgb(105, 105, 105);
  border-radius: 8px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 5px 6px 10px rgb(105, 105, 105);
  }
}

.padList {
  list-style: none;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: black;
  border-radius: 0 0 8px 8px;
  font-size: 1.5em;
  font-weight: 600;
  @media (min-width: 768px) {
    padding: 25px;
    border-radius: 8px 0 0 8px;
  }
}
